header{
    color:rgb(158, 22, 22);
    text-align: center;
    font-size: 20px;
    background-color: black;
    height: 100px;
    padding: 1em;
}

h2{
    color: rgb(246, 221, 189);
    text-align: center;
    background-color: gray;
    padding: 10px;
    margin: 0;
}

label{
    color: rgb(1, 233, 233);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 
                    Arial, sans-serif;
}

h3{
    color: rgb(162, 30, 30);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 
                    Arial, sans-serif;
    text-align: center;
}

footer{
    text-align: center;
    background-color: black;
    color: rgb(156, 34, 15);
    padding: 0.1em;
}

#contenido{
    background-color: silver;
    margin: 1em auto;
    width: min(40em, 100%);
    padding: 1em;
    border-radius: .5em;
    border: 2px solid rgb(0, 56, 139);
    box-shadow: 0px 10px 15px 0 grey;

}

#botones{
    text-align: right;
}

#btnCalcular{
    background-color: rgb(0, 83, 139);
    font-size: 17.5px;
    color: white;
    font-family:  Georgia;
    border-radius: .4em;
}

#btnCalcular:hover{
    cursor: pointer;
    background-color: white;
    color: darkcyan;
}

#btnLimpiar{
    background-color: rgb(0, 79, 139);
    font-size: 17.5px;
    color: white;
    font-family:  Georgia;
    border-radius: .4em;
}

#btnLimpiar:hover{
    cursor: pointer;
    background-color: white;
    color: darkcyan;
}
